.container {
  header {
    background-color: #dde2e9;
    padding: 40px 8%;

    .sticky-searchbar{
      padding: 20px;
      background-color: #dde2e9;
      transition: all 0.2s ease;
      z-index: 9999999;
      width: 100% !important;
      left: 0;
    }
    .sticky-search-status{
      top: 70px;
      padding: 20px;
      background-color: #dde2e9;
      transition: all 0.7s ease;
      z-index: 9999999;
      width: 100% !important;
      left: 0;
    
    }
    .search_status {
      color: #253858;
      margin: -10.3px auto 0;
      position: relative;
      text-align: center;
      span:last-child {
        position: absolute;
        top: -20px;
        right: 20px;
        background: none;
      }
    }
    .logo{
      position: fixed;
      left: 10px;
      top: 10px;
      margin: 0;
      width: 24px;
      height: 24px;
    }
  }
  .body_section {
    width: 100%;
    margin-top: -25px;
    background-color: transparent;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, 13em);
    grid-template-rows: repeat(auto-fill, 5em);
    place-content: center;
    padding: 0 150px;
    @media screen and(max-width:500px) {
      grid-template-columns: repeat(auto-fill, 18em);
    }
    @media screen and(max-width:747px) {
      padding: 0 40px;
    }
    .image_card:nth-child(1n + 1) {
      grid-row: span 6;
    }
    .image_card:nth-child(2n + 2),
    .image_card:nth-child(8n + 8) {
      grid-row: span 8;
    }
    .image_card:nth-child(3n + 3) {
      grid-row: span 7;
    }
    .image_card:nth-child(4n + 4),
    .image_card:nth-child(7n + 7) {
      grid-row: span 10;
    }
    .image_card:nth-child(5n + 5),
    .image_card:nth-child(6n + 6) {
      grid-row: span 10;
    }
  }
}
